<div [hidden]="!submitted">  <!-- ...quando vengono inseriti dei criteri di ricervca ... -->
  <h2>Il risultato della tua ricerca:</h2>
  
  <br>
  <button class="btn btn-primary" (click)="submitted=false">Modifica</button>
</div>

<form [formGroup]="criteriRicerca" (ngSubmit)="ricerca()">
  <div style="text-align: center;">
    <h1 style="text-align: center;">
      <span style="color: #808080;">
        <em>CIAO! Tu sei qui:</em>
        <img src="/Users/mariaelenacontini/Desktop/img.brooklyn">
      </span>
    </h1>
    <p style="text-align: center;">
      <span style="color: #000000;">Che tipo di cibo desideri?</span>
    </p>
    <div style="text-align: center;">
      <label for="a"></label>
      <select id="a" class="form-control" formControlName="a" required>
        <option [value]=""></option>
        <option *ngFor="let a of attributi" [value]="a">{{a}}</option>
      </select>
    </div>
    <p style="text-align: center;">
      <span style="color: #000000;">Quanto tempo hai?</span>
    </p>
    <div style="text-align: center;">
      <label for="tempo"></label>
      <select id="t" class="form-control" formControlName="t">
        <option [value]=""></option>
        <option *ngFor="let t of tempi" [value]="t.minuti">{{ t.testo }}</option>
      </select>
    </div>
    <button class="btn btn-primary" style="color: blue;" type="submit">CERCA</button>
  </div>
</form>
