<form [formGroup]="criteriRicerca" (ngSubmit)="ricerca()">
  <div style="text-align: center;">
    <h1 style="text-align: center;">
      <span style="color:red">
        <em>CIAO! Tu sei qui:</em>
      </span>
    </h1>
   <img (click)="cambiaPosizione()" [src]="posizioni[currentPosition].img" height="250" width="390">
   <div style="text-align: center;" >
      <label for="a">Che tipo di cibo desideri?</label>
      <select id="a" class="form-control" formControlName="a" required>
        <option [value]=""></option>
        <option *ngFor="let a of attributi" [value]="a" >{{a}}</option>
      </select>

    </div> 

    <div style="text-align: center;">
      <label for="tempo">Quanto tempo hai?</label>
      <select id="t" class="form-control" formControlName="t" required>
        <option [value]=""></option>
        <option *ngFor="let t of tempi" [value]="t.minuti" >{{ t.testo }}</option>
      </select>
    </div>
    <div *ngIf="criteriRicerca.invalid" class="alert" style="margin: 0.5 cm ; color: darkred;font-style:italic;">
      Per avviare la ricerca devi inserire i dati richiesti!</div>
    <button class="btn btn-primary" type="submit" [disabled]="!criteriRicerca.valid"  >CERCA</button>
  <button type="button" class="btn btn-success" (click)="cerca2()">CERCA2</button>
  </div>
</form>
<div *ngIf="!submitted" style="text-align: center;">  <!-- ...quando non vengono inseriti dei criteri di ricervca ... -->
  <h2>Forse ti potrebbero interessare:</h2>
 <div>
  <table width="100%" style="text-align:center ">
    <tr>
      <td><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16">
        <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z"/>
      </svg></td>
      <td><img src="https://img.icons8.com/ios/50/000000/hamburger.png" width="20" height="20"/></td>
      <td><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
        <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
      </svg></td>
      <td><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      </svg></td>
    </tr>
    <tr  *ngFor="let ristorante of ristorantiVicini()">
      <td style="color:blue"><b>{{ristorante.name | uppercase}} :</b></td>
      <td>{{ristorante.attributo}}</td>
      <td>tempo di permanenza medio: {{getTempo(ristorante.tempo)}}</td>
      <td>distante da te: {{getDistanza(ristorante.coordinates)}}</td>
    </tr>
  </table>
</div>
</div>
<div *ngIf="submitted" style="text-align: center;;">  <!-- ...quando vengono inseriti dei criteri di ricervca ... --> 
  <div *ngIf="criteriRicerca.valid">
    <h2>Il risultato della tua ricerca:</h2>
   <div>
    <table width="100%" style="text-align:center ">
      <tr>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-shop" viewBox="0 0 16 16">
          <path d="M2.97 1.35A1 1 0 0 1 3.73 1h8.54a1 1 0 0 1 .76.35l2.609 3.044A1.5 1.5 0 0 1 16 5.37v.255a2.375 2.375 0 0 1-4.25 1.458A2.371 2.371 0 0 1 9.875 8 2.37 2.37 0 0 1 8 7.083 2.37 2.37 0 0 1 6.125 8a2.37 2.37 0 0 1-1.875-.917A2.375 2.375 0 0 1 0 5.625V5.37a1.5 1.5 0 0 1 .361-.976l2.61-3.045zm1.78 4.275a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0 1.375 1.375 0 1 0 2.75 0V5.37a.5.5 0 0 0-.12-.325L12.27 2H3.73L1.12 5.045A.5.5 0 0 0 1 5.37v.255a1.375 1.375 0 0 0 2.75 0 .5.5 0 0 1 1 0zM1.5 8.5A.5.5 0 0 1 2 9v6h1v-5a1 1 0 0 1 1-1h3a1 1 0 0 1 1 1v5h6V9a.5.5 0 0 1 1 0v6h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1V9a.5.5 0 0 1 .5-.5zM4 15h3v-5H4v5zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3zm3 0h-2v3h2v-3z"/>
        </svg></td>
        <td><img src="https://img.icons8.com/ios/50/000000/hamburger.png" width="20" height="20"/></td>
        <td ><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clock" viewBox="0 0 16 16">
          <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
          <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
        </svg></td>
        <td><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
          <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
          <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        </svg></td>
      </tr>
      <tr *ngFor="let r of ricerca()">
        <td style="color:blue"><b>{{r.name | uppercase}} :</b></td>
        <td>{{r.attributo}}</td>
        <td>tempo di permanenza medio: {{getTempo(r.tempo)}}</td>
        <td>distante da te: {{getDistanza(r.coordinates)}}</td>
      </tr>
    </table>
   </div>
  </div>
</div>