div {
    font-weight: normal;
    color: navy;
  }
  :host ::ng-deep h3 {
    font-style:initial;
  }
  :host ::ng-deep h2 {
    font-style:initial;
    color: brown;
  }
  :host {
    display: block;
    background-color:white;
    color: red;
  }
  button {
    background-color:white;
    border: 3px thick  green;
  }
